:root {
  --blue-500: hsl(215, 51%, 70%);
  --cyan-400: hsl(178, 100%, 50%);

  --blue-950: hsl(217, 54%, 11%);
  --blue-900: hsl(216, 50%, 16%);
  --blue-800: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    min-height: 100vh;
    font-size: 1.8rem;
    font-family: "Outfit", sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: var(--blue-950);
    display: flex;
    justify-content: center;
    align-items: center;
}

.crypto-card {
    max-width: 360px;
    background-color: var(--blue-900);
    padding: 2.5rem;
    color: var(--blue-500);
    border-radius: 1.5rem;;
}

.crypto-card .image a img {
    width: 100%;
    border-radius: 1rem;
}

.description {
    padding: 2rem 0;
}

h1 {
    color: var(--white);
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 1.5rem;
}

.description p {
    font-size: 1.7rem;
    line-height: 1.5em;
    margin-bottom: 1em;
}

.info {
    display: flex;
    justify-content: space-between;
    font-size: 1.6rem;
    padding-bottom: 1em;
    border-bottom: 1px solid var(--blue-800);
}

svg {
    height: 1.3em;
    vertical-align: middle;
    margin-right: 0.5rem;
}

.price {
    color: var(--cyan-400);
    font-weight: 500;
}

.author {
    display: flex;
    align-items: center;
}

.author img {
    width: 2em;
    border-radius: 100vw;
    border: 1px solid white;
    display: inline-block;
    margin-right: 1em;
}

.author p {
    display: inline-block;
    font-size: 1.6rem;
}

.author .name {
    color: white;
}